{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/footer
    Footer template
    Example context (json): {}
}}

<div class="footer-cv">
    <div class="flex-container">
        <div class="flex-item-footer-left">
            <div><h4>{{#str}} footer_title, theme_mooveuv {{/str}}</h4></div>
            <div><h5>{{#str}} footer_subtitle, theme_mooveuv {{/str}}</h5></div>
            {{#website}} <div><a href="{{ website }}" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> {{{ website }}}</a></div> {{/website}}
            {{#mobile}} <div><i class="fa fa-phone"></i> {{{ mobile }}}</div> {{/mobile}}
            {{#mail}} <div><a href="mailto:{{ mail }}" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i> {{{ mail }}}</a></div> {{/mail}}
            <div><i class="fa fa-building" aria-hidden="true"></i> {{#str}} footer_uv_address, theme_mooveuv {{/str}}</div>
        </div>
        <div class="flex-container-footer-right">
            <div class="flex-item-policy-privacy">
                <a href="{{#str}} footer_privacy_policy_url, theme_mooveuv {{/str}}" target="_blank" class="privacypolicy">
                {{#str}} footer_privacy_policy_desc, theme_mooveuv {{/str}}
                </a>
            </div>
            <div class="flex-container-social-media">
                {{#youtube}}
                    <div class="flex-item-social-media">
                        <a href="{{{youtube}}}" target="_blank" class="youtube">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                        </a>
                    </div>
                {{/youtube}}
                {{#facebook}}
                    <div class="flex-item-social-media">
                        <a href="{{{facebook}}}" target="_blank" class="facebook">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </div>
                {{/facebook}}
                {{#twitter}}
                    <div class="flex-item-social-media">
                        <a href="{{{twitter}}}" target="_blank" class="twitter">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </div>
                {{/twitter}}
                {{#instagram}}
                    <div class="flex-item-social-media">
                        <a href="{{{instagram}}}" target="_blank" class="instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                {{/instagram}}
            </div>
        </div>
    </div>
</div>

{{{ output.standard_end_of_body_html }}}

{{#js}}
    require(['theme_boost/footer-popover'], function(FooterPopover) {
        FooterPopover.init();
    });
{{/js}}
