.mydashboard-admin {
    h3, p, i {
        color: white;
    }
    .bg-1 {
        background-color: #4C3A51;
    }
    .bg-2 {
        background-color: #774360;
    }
    .bg-3 {
        background-color: #B25068;
    }
    .bg-4 {
        background-color: #E7AB79;
    }
    i {
        font-size: 25px;
    }
    .info-box {
        white-space: nowrap;
    }
}
