#page-site-index {

    .mooveuv-frontpage {
        background-color: #F9F9F9;
    }

    // Slider.
    a.carousel-control-prev,
    a.carousel-control-next {
        transition: all 0.25s ease-out;
        color: white;
        width: 6em;
        padding-left: 1em;
        padding-right: 1em;
        opacity: 100%;
        outline: none;
        border: none;
        box-shadow: none;
    }

    a.carousel-control-prev:hover,
    a.carousel-control-next:hover {
        box-shadow: none;
        border: none;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-image: none;
        font-size: 1.2em;
        font-weight: 400;
        width: 30px;
        height: 50px;

    }

    .carousel-control-next-icon:after {
        content: '>';
        font-size: 2em;
        color: #2C4252;
    }

    .carousel-control-prev-icon:after {
        content: '<';
        font-size: 2em;
        color: #2C4252;
    }

    .carousel-indicators > li {
        border-radius: 100%;
        width: 1em;
        height: 1em;
        background-color: #F9F9F9;
    }

    // Sections.
    .frontpage-section {
        background-color: #F9F9F9;
        padding-left: 5em;
        padding-right: 5em;

        hr {
            margin: 0px;
        }
    }

    // Info section.
    #row-sectioninfo-cards {
        padding-top: 3em;
        padding-bottom: 3em;
        .col-sectioninfo-cards {
            min-width: 33%;
            display: flex;
        }
    }

    .sectioninfo-card {
        display: flex;
        border: 1px;
        box-shadow: none;
        background-color: #F9F9F9;
    }

    .sectioninfo-card .card-header {
        background-color: #E1E4E7;
        padding: 1em;
        border: 1px solid;
        border-color: #E1E4E7;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }

    .card-header > h2 {
        text-align: center;
        font-weight: 500;
        color: #2C4252;
        margin-bottom: 0px;
    }

    .sectioninfo-card .card-body {
        padding-top: 3em;
        padding-left: 3em;
        padding-right: 3em;
        border-top: 0px solid #E1E4E7;
        border-left: 1px solid #E1E4E7;
        border-bottom: 1px solid #E1E4E7;
        border-right: 1px solid #E1E4E7;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: #FFFFFF;
        color: #000000;

        a {
            color: #000000;
        }

        li {
            list-style-type: "+ ";
            list-style-position: outside;
        }

        li::marker {
            font-weight: 600;
        }
    }

    // Open courses section.
    #frontpage-available-course-list > h2 {
        display: none;
    }

    #open-courses-section > div {
        padding-left : 0px;
        padding-right: 0px;
    }

    #open-courses-section {
        background-color: #F9F9F9;
    }

    // Institutional licensed software.
    #institutional-licensed-software-section {
        margin-bottom: 7em;
    }

    .licensed-software-image {
        padding: 2em;
    }

    // Modal login.
    #login {
        color: white;
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
    }

    #logo-login {
        width: 80%;
    }

    .modal-dialog {
        margin-top: 10%;

    }

    .modal-header {
        background-color: #CD1F32;
        border: none;
        padding: 0px;

        button {
            color: white;
        }
    }

    .navbar.fixed-top {

        // Language.
        #lang-menu-toggle {
            display: none;
        }

        .langbutton {
            display: none;
        }
    }
}

#page-site-index.notloggedin {
    #page-wrapper > nav > div.primary-navigation {
        display: none;
    }
}

.notloggedin {
    .login > a {
        color: white;
    }
}
