#page-site-index {

    // Slider.
    a.carousel-control-prev,
    a.carousel-control-next {
        width: 4em;
        padding-left: 1em;
        padding-right: 1em;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 40px;
        height: 40px;
    }

    .carousel-indicators > li {
        border-radius: 100%;
        width: 1em;
        height: 1em;;
    }

    // Info section.
    #row-sectioninfo-cards {
        padding-left: 7em;
        padding-right: 7em;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    #personalized_attention_schedule {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .sectioninfo-card {
        border: 1px;
    }

    .sectioninfo-card .card-header {
        background-color: #E1E4E7;
        padding: 2em;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    .card-header > h2 {
        text-align: center;
        font-weight: 500;
        color: #2C4252;
    }

    .sectioninfo-card .card-body {
        border-top: 0px solid gray;
        border-left: 1px solid gray;
        border-bottom: 1px solid gray;
        border-right: 1px solid gray;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}

.notloggedin {
    #page-wrapper > nav > div.primary-navigation {
        display: none;
    }

    .login > a{
        color: white;
    }
}