// Import all scss mooveuv files.
h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #2C4252;
}

h3 {
    font-size: 1.2em;
    font-weight: 400;
    color: #6A6C6C;
}

.mooveuv-container-fluid,
.container-fluid {
    width: 100%;
}