#page-site-index {
    // Modal login.
    #login {
        color: white;
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
    }

    #logo-login {
        width: 80%;
    }

    .modal-dialog {
        margin-top: 10%;

    }

    .modal-header {
        background-color: $brand-primary;
        border: none;
        padding: 0px;

        button {
            display: none;
        }
    }
}

#cookies-notice-title {
    color: $heading-secondary-color;

    a {
        color: $heading-secondary-color;
    }
}

#cookies-help {
    p {
        text-align: justify;
    }
}
