{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template myoverview_past_semesters

    This template renders the past semesters tab content for the myoverview block.

    Example context (json):
    {}
}}

<div id="accordion-course-list" class="parent-group">
    {{#regular_courses}}
        {{#past_semesters}}
            <p class="course-groups" data-toggle="collapse" data-target="#{{key}}" aria-expanded="false" aria-controls="{{key}}">
                <span class="fa fa-caret-right"></span>
                <span class="fa fa-caret-down"></span>
                {{tag}}
            </p>
            <div class="collapse mb-3" id="{{key}}" data-parent="#accordion-course-list">
                <ul class="courses-list">
                    {{#courses}}
                        <li>
                            <a href="{{wwwroot}}/course/view.php?id={{courseid}}">
                                <i class="fa fa-book fa-fw" role="img" title="{{#str}} course, block_courselistuv {{/str}}" aria-label="{{#str}} course, block_courselistuv {{/str}}"></i>
                                {{coursefullname}}
                            </a>
                        </li>
                    {{/courses}}
                </ul>
            </div>
        {{/past_semesters}}
        {{^past_semesters}}
            <div class="no-courses-enrolled-past-semester">
                <p>{{#str}} no_courses_past_semesters, theme_mooveuv {{/str}}</p>
            </div>
        {{/past_semesters}}
    {{/regular_courses}}
</div>
