{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}
{{!
    @template myoverview_regular_user

    This template renders the content for regular user in myoverview block.

    Example context (json):
    {}
}}

<div id="block-myoverview-{{uniqid}}" class="block-myoverview-uv" data-region="myoverview" role="navigation">
    <div class="d-flex justify-content-center mt-5">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#current-semester" data-toggle="tab">
                    {{#str}} current_semester, theme_mooveuv {{/str}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#past-semesters" data-toggle="tab">
                    {{#str}} past_semesters, theme_mooveuv {{/str}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#non-regular" data-toggle="tab">
                    {{#str}} non_regular, theme_mooveuv {{/str}}
                </a>
            </li>
        </ul>
    </div>

    <div class="tab-content mt-5">

        {{! Current semester }}
        <div class="tab-pane active fade show" id="current-semester">
            {{#regular_courses}}
                <div class="row">
                    {{#current_semester}}
                        <div class="col-12 col-sm-6 col-xl-4">
                            <div class="card mb-3 courses-view-course-item">
                                {{{courseimage}}}
                                <div class="card-body course-info-container" id="course-info-container-{{courseid}}">
                                    <h6><a href="{{viewurl}}{{courseid}}">{{{coursefullname}}}</a></h6>
                                </div>
                            </div>
                        </div>
                    {{/current_semester}}
                    {{^current_semester}}
                        <div class="no-courses-enrolled">
                            <p>{{#str}} no_courses_current_semester, theme_mooveuv {{/str}}</p>
                        </div>
                    {{/current_semester}}
                </div>
            {{/regular_courses}}
        </div>

        {{! Past semesters }}
        <div class="tab-pane fade" id="past-semesters">
            <div>
                {{> theme_mooveuv/myoverview_past_semesters }}
            </div>
        </div>

        {{! Non-regular courses }}
        <div class="tab-pane fade" id="non-regular">
            <div class="row">
                {{#non_regular_courses}}
                    <div class="col-12 col-sm-6 col-xl-4">
                        <div class="card mb-3 courses-view-course-item">
                            {{{courseimage}}}
                            <div class="card-body course-info-container" id="course-info-container-{{courseid}}">
                                <h6><a href="{{viewurl}}{{courseid}}">{{{coursefullname}}}</a></h6>
                            </div>
                        </div>
                    </div>
                {{/non_regular_courses}}
                {{^non_regular_courses}}
                    <div class="no-courses-enrolled">
                        <p>{{#str}} no_courses_non_regular, theme_mooveuv {{/str}}</p>
                    <div>
                {{/non_regular_courses}}
            </div>
        </div>
    </div>
</div>
